[submodule "catkin_ws/src/agros_gui"]
	path = catkin_ws/src/agros_gui
	url = git@github.com:MrCerealKiller/agros_gui.git
[submodule "catkin_ws/src/ros_f9p_driver"]
	path = catkin_ws/src/ros_f9p_driver
	url = git@github.com:MrCerealKiller/ros_f9p_driver.git
[submodule "catkin_ws/src/realsense-ros"]
	path = catkin_ws/src/realsense-ros
  url = git@github.com:IntelRealSense/realsense-ros.git
  branch = development
[submodule "catkin_ws/src/ddynamic_reconfigure"]
	path = catkin_ws/src/ddynamic_reconfigure
	url = git@github.com:pal-robotics/ddynamic_reconfigure.git
[submodule "catkin_ws/src/serial"]
	path = catkin_ws/src/serial
	url = git@github.com:wjwwood/serial.git
[submodule "catkin_ws/src/ros_y3space_driver"]
	path = catkin_ws/src/ros_y3space_driver
	url = git@github.com:MrCerealKiller/ros_y3space_driver.git
[submodule "catkin_ws/src/agros_paths"]
	path = catkin_ws/src/agros_paths
	url = git@github.com:MrCerealKiller/agros_paths.git
