[submodule "catkin_ws/src/agros_gui"]
	path = catkin_ws/src/agros_gui
	url = git@github.com:MrCerealKiller/agros_gui.git
[submodule "catkin_ws/src/ros_f9p_driver"]
	path = catkin_ws/src/ros_f9p_driver
	url = git@github.com:MrCerealKiller/ros_f9p_driver.git
